In [5]:
import pandas as pd
import numpy as np

https://www.machinelearningplus.com/python/101-pandas-exercises-python/

1. Import pandas, check version

In [4]:
print(pd.__version__)

1.0.5

2. How to create a series from a list, numpy array and dict?

In [11]:
mylist = list('abcedfghi')
myarr = np.arange(6)
mydict = dict(zip(mylist, myarr))

In [12]:
pd.Series(mylist)

0    a
1    b
2    c
3    e
4    d
5    f
6    g
7    h
8    i
dtype: object

In [13]:
pd.Series(myarr)

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int32

In [14]:
mydict

{'a': 0, 'b': 1, 'c': 2, 'e': 3, 'd': 4, 'f': 5}

In [15]:
pd.Series(mydict)

a    0
b    1
c    2
e    3
d    4
f    5
dtype: int64

3. How to convert the index of a series into a column of a dataframe?

In [17]:
pd.DataFrame(pd.Series(mydict)).reset_index()

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4
5     f  5

4. How to combine many series to form a dataframe?

In [25]:
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)

In [30]:
pd.concat([ser1, ser2, ser3], axis=1)

     0    1    2
0    a  0.0  NaN
1    b  1.0  NaN
2    c  2.0  NaN
3    e  3.0  NaN
4    d  4.0  NaN
5    f  5.0  NaN
6    g  NaN  NaN
7    h  NaN  NaN
8    i  NaN  NaN
a  NaN  NaN  0.0
b  NaN  NaN  1.0
c  NaN  NaN  2.0
d  NaN  NaN  4.0
e  NaN  NaN  3.0
f  NaN  NaN  5.0

In [32]:
pd.DataFrame({'col1': ser1, "col2": ser2, 'col3': ser3})

  col1  col2  col3
0    a   0.0   NaN
1    b   1.0   NaN
2    c   2.0   NaN
3    e   3.0   NaN
4    d   4.0   NaN
5    f   5.0   NaN
6    g   NaN   NaN
7    h   NaN   NaN
8    i   NaN   NaN
a  NaN   NaN   0.0
b  NaN   NaN   1.0
c  NaN   NaN   2.0
d  NaN   NaN   4.0
e  NaN   NaN   3.0
f  NaN   NaN   5.0

5. How to assign name to the series’ index? <br>
Difficulty Level: L1 Give a name to the series ser calling it ‘alphabets’. Input

In [41]:
ser = pd.Series(list('abcedfz'), name="some_name")

In [42]:
ser

0    a
1    b
2    c
3    e
4    d
5    f
6    z
Name: some_name, dtype: object

In [44]:
ser.name = 'alphabets'

In [45]:
ser

0    a
1    b
2    c
3    e
4    d
5    f
6    z
Name: alphabets, dtype: object

6. How to get the items of series A not present in series B? <br>
Difficulty Level: L2 From ser1 remove items present in ser2.

In [46]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [47]:
ser1[~ser1.isin(ser2)]  # отрицание

0    1
1    2
2    3
dtype: int64

7. How to get the items not common to both series A and series B?